{% extends "base.html" %}
{% load static %}

{% block cssHead %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
{% endblock %}

{% block jsHead %}
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block body %}

<button type="button" class="btn btn-primary btn-floating newBut" data-mdb-toggle="modal"
    data-mdb-target="#addMessageModal">
    <i class="fas fa-plus"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="addMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Message</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body formModal">
                <form action="/" method="post" id='newMsg'>
                    {% csrf_token %}
                    <div class="form-outline">
                        <input type="text" id="heading" name='heading' class="form-control form-control-lg" />
                        <label class="form-label" for="heading">Heading</label>
                    </div><br>
                    <div class="form-outline">
                        <input type="text" id="tags" name='tags' class="form-control form-control-lg" />
                        <label class="form-label" for="tags">Tags</label>
                    </div><br>
                    <div class="form-outline">
                        <textarea class="form-control" id="msgBody" name='msgBody' rows="5"></textarea>
                        <label class="form-label" for="msgBody">Message</label>
                    </div><br>
                    <input type="file">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='saveMsg'>Save</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="message shadow-1-strong">
        <div class="msgHead">
            <h3>Head</h3>
        </div>
        <div class="msgTags">
            Tags:
        </div><br>
        <div class="msgMsg">
            <p>asd</p>
        </div>
    </div>

    <div class="message shadow-1-strong">
        <div class="msgHead">
            <h4>Head</h4>
        </div>
        <div class="msgTags">
            Tags:
        </div><br>
        <div class="msgMsg">
            <p>asd</p>
        </div>
    </div>
</div>

{% endblock %}

{% block jsFoot %}
<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}